* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.row {margin: 0 -5px;}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: white;
}

.mainDiv::after{
  content: "";
  display: table;
  clear: both;
}

.JobIsDeleted{
  text-align: center;
  color: #E02401;
}


.card {
  position: relative;
  top: 30px;
  left: 60px;
     display: flex;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
    width: 345px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    /* display: flex; */
    justify-content: right;
    box-sizing: border-box;
    display: inline-block;
    margin: 20px 30px;
    
  }
  .card:hover {
    /* transform: scale(0.8); */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card {
    /* margin-top: -50%; */
    transform: translateY(-70%);
    /* left: 5%; */
  }


.card h3{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.card h5{
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
}
p{
  font-size: 0.8rem;
  font-weight: 400;
}

.btnDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 3rem; */
}

.btnDiv .btn{
  font-size: 1rem;
  font-weight: bold;
  background: #007fff;
  padding: 3px 8px;
  border: 1px solid #007fff;
  cursor: pointer;
  transition: 0.3s;
}

.btnDiv .btn:hover{
  background: #0059b2;
  color: #fff;
  /* border: 1px solid #075076 */
  transition: 0.3s;
}

.subDiv{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* width: 25%; */
    /* padding: 0 10px; */
}
